
  <div class="card border-primary mb-3" style="max-width: 18rem;" *ngFor="let task of tasks">
    <div class="card-header">{{ task.taskName }}</div>
    <div class="card-body text-primary">
      <h5 class="card-title">{{ task.priority }}</h5>
      <p class="card-text">{{ task.dod }}</p>
    </div>
  </div>

<!--<div class="container">-->
  <!--<h1>Contact List</h1>-->
  <!--<table class="table">-->
    <!--<thead>-->
    <!--<tr>-->
      <!--<th>TaskName</th>-->
      <!--<th>TeamName</th>-->
      <!--<th>Priority</th>-->
      <!--<th>Dod</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr *ngFor="let task of tasks">-->
      <!--<td>{{ task.taskName }}</td>-->
      <!--<td>{{ task.teamName }}</td>-->
      <!--<td>{{ task.priority }}</td>-->
      <!--<td>{{ task.dod }}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->
<!--</div>-->
